.App {
  text-align: center;
  
}

.webpos{
  right: 0;
  position: fixed;
  bottom: 0;
}

.react-stopwatch-timer__table {
  height: 48px;
  width: 200px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}